# requirements.txt

streamlit
requests
xmltodict
beautifulsoup4
PyPDF2
langchain
langchain-community
chromadb
tiktoken
sentence-transformers
langchain-openai  # This is the key package we will use
protobuf==3.20.3
pysqlite3-binary
langchain-chroma
